{% verbatim %}
<script id="confirm-tmpl" type="text/x-handlebars-template">
    <div class="container">
        <div class="gp-confirm-conversion">
            <ol class="list-group gp-roster-list">
                {{#each students}}
                <li class="clearfix list-group-item gp-roster-list-item">
                {{> student }}

                <div class="pull-right gp-grade-entered">
                    <span class="gp-review-grade">{{ imported_grade }}% <span class="sr-only">{{ trans "conversion_confirm_grade_text" }}</span> <i class="fas fa-long-arrow-right"></i> <strong>{{ converted_grade }}</strong></span>
                    {{#if is_override_grade}}<span class="offcanvas">OVERRIDE</span>{{/if}}
                </div>
                </li>
                {{/each}}
            </ol>
        </div>

        <div class="clearfix gp-course-submit">
            <div class="pull-right">
                <button type="submit" class="btn btn-default gp-btn-convert-back"><i class="fas fa-caret-left" style="color:#108BCC;"></i> {{ trans "conversion_back_calc" }}</button>
                <button type="submit" class="btn gp-btn gp-btn-convert-save">{{ trans "import_grades_btn" }}<span class="sr-only">{{ trans "import_grades_btn_sr"}}</span></button>
                <div class="gp-import-confirm-note">{{ trans "import_confirm_note" }}</div>
            </div>
        </div>
    </div>
    {{> import_modal}}
</script>
{% endverbatim %}
