{% extends 'base.html' %}

{% block title %}503 Error{% endblock title %}

{% block content %}
    
    <div class="container" role="main" aria-labelledby="gp-404-error">
    
        <h2 id="gp-500-error">503 error: The Student Web Service is currently unavailable</h2>
        
        <p>You may want to:</p>
        <ul>
            <li><a href="/">Try again</a> later.</li>
            <li>Drop us a line at <a href="mailto:help@uw.edu">help@uw.edu</a> and let us know that this has been taking awhile.</li>
        </ul>        
    
    </div>

{% endblock content %}
