<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GradePage {% block title %}{{ page_title }}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <meta http-equiv="cleartype" content="on">

        {% load staticfiles %}
        {% load compress %}

        <!-- favicon and mobile device icons-->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "course_grader/ico/apple-touch-icon-precomposed.png" %}"/>
        <link rel="shortcut icon" href="{% static "course_grader/ico/favicon.ico" %}"/>

        <!-- windows8 - tile icon  & color -->
        <meta name="msapplication-TileImage" content="{% static "course_grader/ico/apple-touch-icon-precomposed.png" %}"/>
        <meta name="msapplication-TileColor" content="#222222"/>

        <!-- add web fonts if needed -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet" type="text/css"/>

        <!-- mobile first styles -->
        {% compress css %}
        <link rel="stylesheet" href="{% static "course_grader/css/vendor/bootstrap-3.0.0.min.css" %}"/>
        <link rel="stylesheet" href="{% static "course_grader/css/vendor/font-awesome-4.0.3.min.css" %}"/>
        <link rel="stylesheet" type="text/less" href="{% static "course_grader/css/mobile.less" %}"/>
        <link rel="stylesheet" type="text/less" href="{% static "grade_conversion_calculator/css/mobile.less" %}"/>
        {% endcompress %}

        {% if not request.user_agent.is_mobile and not request.user_agent.is_tablet %}
        <!-- add desktop styles -->
        {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static "course_grader/css/desktop.less" %}"/>
        <link rel="stylesheet" type="text/less" href="{% static "grade_conversion_calculator/css/desktop.less" %}"/>
        {% endcompress %}
        {% endif %}

        {% if not has_less_compiled %}
        <script src="{% static "course_grader/js/vendor/less-2.0.0.min.js" %}"></script>
        {% endif %}
        <script type="text/javascript" src="{% url "javascript-catalog" %}"></script>
    </head>
    <body>
        {% if override_user %}
        <div class="gp-admin-bar" role="complementary" aria-label="Admin Override Status">
            <form method="POST" action="{% url 'userservice_override' %}">
                <div class="container">Overriding as <strong>{{override_user|lower}}</strong>
                {% csrf_token %}
                <input type="hidden" value="1" name="clear_override">
                <button class="btn btn-danger btn-xs" value="Clear override" type="submit"><i class="fa fa-times-circle"></i> Clear</button>
                </div>
            </form>
        </div>
        {% endif %}
        <!-- desktop wrap -->
        {% if not request.user_agent.is_mobile and not request.user_agent.is_tablet %}
		<div id="desktop-wrap">
		{% endif %}
        <!-- wrap all content here -->
        <div id="wrap">

            <!-- fixed navbar -->
            <div id="header" class="navbar navbar-default gp-navbar" aria-labelledby="gradepage-main" role="banner">
                <div class="container clearfix">
                    <div class="navbar-header pull-left gp-app-logo-container"><h1 id="gradepage-main"><a class="navbar-brand gp-app-title" title="GradePage Home" href="/"><span class="gp-app-name"><img src="{% static "course_grader/img/gp-logo.png" %}" alt="" width="140px" height="23" /><abbr title="University of Washington" class="sr-only">UW </abbr><span class="sr-only">Gradepage</span></span> {% if not request.user_agent.is_mobile and not request.user_agent.is_tablet %}&nbsp;&nbsp;<span class="gp-app-tagline">Online Grade Submission</span>{% endif %}</a></h1></div>
                    <div class="pull-right gp-remote-user">
                        <span class="gp-app-name"><i class="fa fa-user"></i> </span>
                        {% if request.user_agent.is_mobile or request.user_agent.is_tablet or not user_fullname %}
                        <span class="gp-netid-display">{{user_login|lower}}</span>
                        {% else %}
                        <span class="gp-netid-fullname"><span class="sr-only">You are logged in as: </span>{{user_fullname}} ({{user_login|lower}})</span>
                        {% endif %}
                    </div>
                </div>
                {% include "grades_due_alert.html" %}
            </div>

            <!-- content container -->
            <div id="content">
                {% block content %}{% endblock %}
             </div>

        </div><!-- /wrap -->

        <!-- footer -->
        <div role="contentinfo" id="footer" aria-label="UW conditions of use">
            <div class="container">
            	<div class="clearfix gp-footer">
                <!-- example of is_desktop usage in templates -->
                {% if request.user_agent.is_mobile %}
                <p class="pull-left credit"><a href="http://www.washington.edu/online/privacy" title="UW Privacy Policy" target="_blank">Privacy</a> | <a href="http://www.washington.edu/online/terms" target="_blank" title="UW Terms of Service">Terms</a><br />&copy; 2011-{% now "Y" %}, UW-IT, AXDD</p>
                {% else %}
                <p class="pull-left credit"><a href="http://www.washington.edu/online/privacy" title="UW Privacy Policy" target="_blank">Privacy</a> | <a href="http://www.washington.edu/online/terms" target="_blank" title="UW Terms of Service">Terms</a><br />&copy; 2011-{% now "Y" %}, UW Information Technology, Academic Experience Design &amp; Delivery</p>
                {% endif %}
                <p class="pull-right gp-help"><a href="http://www.washington.edu/itconnect/learn/tools/catalyst-web-tools/gradebook/gradepage/" target="_blank" title="Go to GradePage documentation"><i class="fa fa-info"></i> {% if request.user_agent.is_mobile %}Help{% else %}GradePage Help{% endif %}</a> | <a href="{% url 'saml_logout' %}" title="Logout">Logout</a></p>
            	</div>
            </div>
        </div>

        <!-- dev bar -->
        {% if debug_mode %}
        <div id="developer">
            <span class="label label-danger">{% if request.user_agent.is_mobile %}mobile{% elif request.user_agent.is_tablet %}tablet{% else %}desktop{% endif %}</span>
        </div>
        {% endif %}

        <!-- javascript -->
        {% compress js %}
        <script src="{% static "course_grader/js/vendor/jquery-1.10.2.min.js" %}"></script>
        <script src="{% static "course_grader/js/vendor/jquery-ui-1.10.3.custom.min.js" %}"></script>
        <script src="{% static "course_grader/js/vendor/bootstrap-3.0.0.min.js" %}"></script>
        <script src="{% static "course_grader/js/vendor/handlebars-3.0.3.min.js" %}"></script>
        <script src="{% static "course_grader/js/vendor/moment-2.5.1.min.js" %}"></script>
        <script src="{% static "course_grader/js/handlebars-i18n.js" %}"></script>
        <script src="{% static "course_grader/js/main.js" %}"></script>
        <script src="{% static "course_grader/js/section_list.js" %}"></script>
        <script src="{% static "course_grader/js/graderoster.js" %}"></script>
        <script src="{% static "course_grader/js/import.js" %}"></script>
        <script src="{% static "grade_conversion_calculator/js/main.js" %}"></script>
        {% endcompress %}

        {% block extra_js %}{% endblock %}

		{% if not request.user_agent.is_mobile and not request.user_agent.is_tablet %}
		</div>
		{% endif %}
    </body>
</html>
