{% load static %}
{% load vite %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'course_grader/ico/favicon.ico' %}">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rozha+One&display=swap" rel="stylesheet">

    {{ context_data|json_script:"django-context-data" }}

    <script>
      window.gradepage = {};
      window.gradepage.messages = {{ messages|safe }};
      window.gradepage.message_level = "{{ message_level }}";
    </script>
    <script type="text/javascript" src="{% url "javascript-catalog" %}"></script>

    <!-- vite css bundle -->
    {% vite_styles 'course_grader_vue/main.js' %}
  </head>

  <body class="bg-body ff-open-sans">

    {% csrf_token %}

    <!-- vue app will be injected here -->
    <div id="app"></div>

    <!-- vite js bundle -->
    {% vite_scripts 'course_grader_vue/main.js' %}

  </body>

</html>
