Django==1.6.7
django-compressor
django-templatetag-handlebars
south
beautifulsoup==3.2.1
nameparser>=0.2.9
-e git+https://github.com/uw-it-aca/grade-conversion-calculator#egg=GradeConversionCalculator
-e git+https://github.com/uw-it-aca/uw-restclients#egg=RestClients
-e git+https://github.com/uw-it-aca/django-supporttools#egg=django_supporttools
-e git+https://github.com/uw-it-aca/django-userservice#egg=Django-UserService
-e git+https://github.com/uw-it-aca/authz_group#egg=AuthZ-Group
-e git+https://github.com/vegitron/django-handlebars-i18n#egg=Django-Handlebars-I18N
-e git+https://github.com/vegitron/django-saferecipient-email-backend.git#egg=safe_email_backend
-e git+https://github.com/abztrakt/django-mobileesp#egg=django_mobileesp
