{% load templatetag_handlebars %}
{% tplhandlebars "404-tmpl" %}
<div class="container">
    <div class="alert" role="main" aria-labelledby="404-error">
        <h3 id="404-error"> {{{ error }}}</h3>
        <p>Some things you may want to try:
        <ul>
        <li>Make sure you are logged into this service with the appropriate UW NetID.</li>
        <li>Feel free to contact us at help@uw.edu if you have questions or need help.</li>
        </ul>
        </p>
    </div>
</div>
{% endtplhandlebars %}
