{% load templatetag_handlebars %}
{% tplhandlebars "543-tmpl" %}
<div class="container">
    <div class="alert" role="main" aria-labelledby="543-error">
        <h3 id="543-error"> There was a problem retrieving grade information{{# if error }}: <br />{{{ error }}}{{/if}}.</h3>

		<p>You may want to:
			<ul>
				<li>Drop us a line at <a href="mailto:help@uw.edu">help@uw.edu</a> and let us know that this has been taking awhile.</li>
				<li><a href="/">Go back to the list of classes</a> you can grade.
			</ul>
		</p>
    </div>
</div>
{% endtplhandlebars %}
