{% load templatetag_handlebars %}
{% tplhandlebars "543-tmpl" %}
<div class="container">
    <div class="alert" role="main" aria-labelledby="543-error">
        <h3 id="543-error"> There was a problem retrieving grade information{{# if error }}: <br />{{{ error }}}{{/if}}.</h3>

		<p>To correct this issue, <strong>please email us at <a href="mailto:help@uw.edu">help@uw.edu</a></strong>.
				<ul>
    				<li>Include a screenshot{{# if error }} or paste the error text into your email{{/if}} so that we can quickly diagnose the issue.
    				{{# if error }}<ul><li>The error text to paste into your email to us is: <br/>{{{ error }}}</li></ul>{{/if}}
    				</li>
				</ul>
		</p>
		<p><br/><a href="/">Go back to the list of classes</a> you can grade.</p>
    </div>
</div>
{% endtplhandlebars %}
