{% verbatim %}
<script id="import-tmpl" type="text/x-handlebars-template">
{{#if grade_count}}
    {{#if file_name}}
    <p>{{{ trans "<strong>One grade</strong> found out of %(expected_grade_count)s grade expected for <strong>%(section_name)s</strong> in the file <strong>%(file_name)s</strong>." "<strong>%(grade_count)s</strong> grades found out of %(expected_grade_count)s grades expected for <strong>%(section_name)s</strong> in the file <strong>%(file_name)s</strong>." grade_count }}}</p>
    {{else}}
    <p>{{{ trans "One grade found for <strong>%(section_name)s</strong> in <strong>%(source_name)s</strong>." "%(grade_count)s total grades found for <strong>%(section_name)s</strong> in <strong>%(source_name)s</strong>." grade_count }}}</p>
    {{/if}}

    {{#if override_grade_count}}
    <div role="alert" class="alert alert-warning alert-override-grades">
        <span class="gp-override-icon fa-stack">
            <i class="fas fa-circle fa-stack-2x" aria-hidden="true"></i>
            <i class="fas fa-marker fa-flip-horizontal fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </span>

        <p>{{{ trans "You have one final grade override in this Canvas Grade Import.  This grade WILL BE included in the imported grades." "You have <strong>%(override_grade_count)s final grade overrides</strong> in this Canvas Grade Import.  These grades WILL BE included in the imported grades." override_grade_count}}}
        <a target="_blank" href="https://itconnect.uw.edu/learn/tools/canvas/canvas-help-for-instructors/assignments-grading/new-gradebook/final-grade-override/">{{ trans "learn_more" }}</a>.</p>
    </div>
    {{/if}}

    {{#if unposted_grade_count}}
    <div role="alert" class="alert alert-danger alert-unposted-grade">
        <span class="gp-unposted-grade-icon">
          <i class="fas fa-exclamation-circle fa-2x" aria-hidden="true"></i>
        </span>
        <p>{{{ trans "You have <strong>one student with unposted grades</strong> in this Canvas Grade Import." "You have <strong>%(unposted_grade_count)s students with unposted grades</strong> in this Canvas Grade Import." unposted_grade_count }}}
        Unposted grades <strong>ARE NOT</strong> represented in the imported final grade.
        <a target="_blank" href="https://itconnect.uw.edu/learn/tools/canvas/canvas-help-for-instructors/assignments-grading/correctly-import-grades/">{{ trans "learn_more" }}</a>.</p>
    </div>
    {{/if}}

    {{#if has_valid_percentages}}
        <p>{{ trans "import_conversion_required" }}</p>
        <fieldset>
            <legend>{{ trans "import_conversion_required_select" }}</legend>
                <ul>
                    <li ><button id="gp-convert-scale-ug" type="button" class="btn btn-default btn-block">{{ trans "conversion_scale_ug" }}</button></li>
                    <li><button id="gp-convert-scale-gr" type="button" class="btn btn-default btn-block">{{ trans "conversion_scale_gr" }}</button></li>
                    <li><button id="gp-convert-scale-cnc" type="button" class="btn btn-default btn-block">{{ trans "conversion_scale_cnc" }}</button></li>
                    <li><button id="gp-convert-scale-pf" type="button" class="btn btn-default btn-block">{{ trans "conversion_scale_pf" }}</button></li>
                    <li><button id="gp-convert-scale-hpf" type="button" class="btn btn-default btn-block">{{ trans "conversion_scale_hpf" }}</button></li>
        </ul>
        </fieldset>
    {{else}}
        <ul>
        <li>To continue, click <strong>{{ trans "import_save_grades" }}</strong>. You will have a chance to adjust and review grades on the next screen.</li>
        <li>To re-import CSV, click <strong>Cancel</strong></li>
        </ul>
        <div class="clearfix">
        <button type="button" class="btn btn-primary gp-import-save-import pull-right">{{ trans "import_save_grades" }}</button>
        </div>
    {{/if}}
{{else}}
    <p>{{{ trans "import_no_grades_found" }}}</p>
{{/if}}
</script>
{% endverbatim %}
