{% verbatim %}
<script id="remaining-tmpl" type="text/x-handlebars-template">
{{# if missing_count }}
    {{# if invalid_count }}
        {{ trans "%(missing_count)s grade missing" "%(missing_count)s grades missing" missing_count }}, {{ trans "%(invalid_count)s grade invalid" "%(invalid_count)s grades invalid" invalid_count }}.
    {{ else }}
        {{ trans "%(missing_count)s grade missing" "%(missing_count)s grades missing" missing_count }}.
    {{ /if }}
{{ else }}
    {{# if invalid_count }}
        {{ trans "%(invalid_count)s grade invalid" "%(invalid_count)s grades invalid" invalid_count }}.
    {{ else }}
        <span class="sr-only">All grades entered. Click Review button to continue.</span>
    {{ /if }}
{{ /if }}
</script>
{% endverbatim %}
