{% verbatim %}
<script id="upload-tmpl" type="text/x-handlebars-template">
<form method="POST" enctype="multipart/form-data">

<div class="gp-csv-import">
  <p>You are importing final grades for section <strong>{{section_name}}</strong></p>
  <div class="well">
    <span class="gp-expected-grades">{{{ trans "One grade expected" "<strong>%(expected_grade_count)s</strong> grades expected" expected_grade_count }}}</span>
  </div>
  <p>GradePage supports CSV file exports from Canvas Gradebook or a downloaded MyUW Classlist<span>&#42;</span>. Percentage grades will need converting in the next step prior to import. <a href="#"><i class="fa fa-info-circle" aria-hidden="true"></i></a></p>

  <p class="gp-import-instructions">To begin import, choose your supported CSV file and click <strong>Next</strong> to continue.</p>

  <div class="upload-file-wrapper">
    <label for="gp-import-file" class="sr-only">Select a CSV File to Import</label>
    <input id="gp-import-file" class="" type="file" name="import_file" accept=".csv"/>
  </div>

  {{#if error}}
    <div class="alert alert-danger" role="alert">
      There was an error processing the file <strong>{{file_name}}</strong>:
      <div>
      {{#if file_too_large}}
        The file exceeds the allowed size (1 Mb).
      {{else}}
        {{error}}
      {{/if}}
        Select a different file for import or enter grades manually.
      </div>
    </div>
  {{else}}
    {{#if file_name }}
    {{#unless grade_count}}
    <div class="alert alert-danger" role="alert">
      No grades found for <strong>{{section_name}}</strong> in the file <strong>{{file_name}}</strong>.  Select a different file for import or enter grades manually.
    </div>
    {{/unless}}
    {{/if}}
  {{/if}}

  <div class="clearfix">
    <button type="button" class="btn btn-default gp-btn-upload pull-right" title="Upload a file">Next <i class="fas fa-caret-right" style="color:#108BCC;"></i></button>
  </div>
</div>
</form>
</script>
{% endverbatim %}
