{% verbatim %}
<script id="upload-tmpl" type="text/x-handlebars-template">
<form method="POST" enctype="multipart/form-data">

<div class="gp-csv-import">
  <p>You are importing final grades for section <strong>{{{section_name}}}</strong></p>
  <div class="well well-sm">
    <span class="gp-expected-grades">{{{ trans "One grade expected" "<strong>%(expected_grade_count)s</strong> grades expected" expected_grade_count }}}</span>
  </div>
  The CSV is required to contain at least two columns: 
    <ul>
      <li>a column for student identifier (<strong>SIS User ID</strong> or <strong>StudentNo</strong>) AND</li>
      <li>a column for grades to be submitted (<strong>Class Grade</strong>)</li>
    </ul>
  <p>An imported CSV file can contain letter grades, grade codes, or percentages. <a href="https://itconnect.uw.edu/learn/tools/gradepage/import-convert-csv/#convert" title="Lean about grade conversion on IT Connect" target="_blank">Percentages will need to be converted prior to import.</a></p> 
  <p><a href="https://itconnect.uw.edu/learn/tools/gradepage/import-convert-csv/" title="Learn about importing a CSV on IT Connect" target="_blank">Learn more about formatting and importing a CSV file.</a></p>
  <p>To begin import, choose the CSV file, and then click <strong>Verify CSV.</strong></p>

  <div class="upload-file-wrapper">
    <label for="gp-import-file" class="sr-only">Select a CSV file to Import</label>
    <input id="gp-import-file" class="" type="file" name="import_file" accept=".csv"/>
  </div>

  {{#if error}}
  <div class="alert alert-danger gp-upload-error" role="alert">
    {{#if file_limit_exceeded}}
    <i class="fas fa-exclamation-circle"></i> <strong>Allowable file size exceeded (1 Mb).</strong><br>
    <small>on file <em>{{file_name}}</em></small>
    <ul>
      <li>Select a different file for import or enter grades manually.</li>
    </ul>
    {{else}}
      {{#if missing_header_grade}}
      <i class="fas fa-exclamation-circle"></i> <strong>Missing column heading: "Class Grade"</strong><br>
      <small>on file <em>{{file_name}}</em></small>
      <ul>
        <li>Confirm that the .csv file contains a column with the heading "Class Grade" and that the column contains the grades you want to submit.</li>
        <li>Select a different file for import.</li>
        <li><a href="https://itconnect.uw.edu/learn/tools/gradepage/import-convert-csv/#format" title="Learn about correct CSV format on IT Connect" target="_blank">Learn more about the correct CSV format for GradePage</a></li>
      </ul>
      {{else}}
        {{#if missing_header_student}}
        <i class="fas fa-exclamation-circle"></i> <strong>Missing column heading: "SIS User ID" OR "StudentNo"</strong><br>
        <small>on file <em>{{file_name}}</em></small>
        <ul>
          <li>Confirm that the .csv file contains a column with the heading "SIS User ID" or "StudentNo".</li>
          <li>Select a different file for import.</li>
      </ul>
        {{else}}
          <i class="fas fa-exclamation-circle"></i> <strong>{{error}}</strong><br>
          <small>on file <em>{{file_name}}</em></small>
          <ul>
            <li>Select a different file for import.</li>
          </ul>
        {{/if}}
      {{/if}}
    {{/if}}
    <p>Or, <a href="https://itconnect.uw.edu/learn/tools/gradepage/assign-submit-grades/" title="Learn about other options to submit grades on IT Connect" target="_blank">see other options for submitting grades.</a></p>
    </div>
  {{else}}
    {{#if file_name}}
    {{#unless grade_count}}
    <div class="alert alert-danger gp-upload-error" role="alert">
      <i class="fas fa-exclamation-circle"></i> <strong>No grades found for {{{section_name}}}</strong><br>
      <small>on the file <em>{{file_name}}</em></small>
      <ul>
        <li>Confirm that the Class Grade column contains grade values.</li>
        <li>Confirm that the SIS User ID or StudentNo column contains student identifiers.</li>
        <li>Confirm that the .csv file contains students from this section's roster. </li>
        <li>Select a different file for import.</li>
      </ul>
      <p>Or, <a href="https://itconnect.uw.edu/learn/tools/gradepage/assign-submit-grades/" title="Learn about other options to submit grades on IT Connect" target="_blank">see other options for submitting grades.</a></p>
    </div>
    {{/unless}}
    {{/if}}
  {{/if}}

  <div class="clearfix">
    <button type="button" class="btn btn-primary gp-btn-upload pull-right" title="Upload a file">Verify CSV</button>
  </div>
</div>
</form>
</script>
{% endverbatim %}
